.container {
  padding: 0 40px;
}

.title {
  color: #d42d21;
}
.text {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.listLink {
  font-weight: 600;
  text-decoration: none;
  color: #3544a9;
}
