.item {
  display: flex;
  width: 500px;
  align-items: center;
  font-weight: 500;
  margin: 0 auto 10px;
  background-color: #fff;
  border: solid 1px #dadada;
  padding: 5px 20px;
}
.contact {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 110px;
}

.btn {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  color: #ffffff;
  background-color: #f1392d;
  border: none;
  outline: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #cc2727;
  color: white;
}
